<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" type="application/json" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon-192.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <title>SEN - Admin Zone</title>

</head>
<body>
    <!-- This always appears at the top of every page. -->
    <div class="toolbar">
        <a href="/"><div class="toolbar_button">Home</div></a>
        <h1>SEN - Add Sign or Question</h1>
        <a href="/logout"><div class="toolbar_button" id="login_button">Log Out</div></a>
    </div>
    
    <div class="container">
        <h1>Add Question or Sign</h1>

        {% if error %}
        <div class="errorDialogue">
          {{ error }}
        </div>
        {% endif %}
        
        <div class="toggle-container">
            <button id="addQuestionBtn">Add Question</button>
            <button id="addSignBtn">Add Sign</button>
        </div>

        <div id="addQuestionForm" class="form-container" style="display: none;">
            <form action="/add_q_to_db" method="post">
                <label for="subtopic">Subtopic:</label><br>
                <input type="text" id="subtopic" name="subtopic" required><br>

                <label for="info">Info:</label><br>
                <textarea id="info" name="info"></textarea><br>

                <label for="question">Question:</label><br>
                <textarea id="question" name="question" required></textarea><br>

                <label for="image">Image:</label><br>
                <input type="text" id="image" name="image"><br>

                <label for="robotType">Robot Type (0-5):</label><br>
                <input type="number" id="robotType" name="robotType" min="0" max="5" required><br>

                <label for="answer">Answer:</label><br>
                <input type="text" id="answer" name="answer"><br>

                <label for="i1">Option 1:</label><br>
                <input type="text" id="i1" name="i1"><br>

                <label for="i2">Option 2:</label><br>
                <input type="text" id="i2" name="i2"><br>

                <label for="i3">Option 3:</label><br>
                <input type="text" id="i3" name="i3"><br>

                <label for="i4">Option 4:</label><br>
                <input type="text" id="i4" name="i4"><br>

                <label for="answermethod">Answer Method:</label><br>
                <input type="text" id="answermethod" name="answermethod"><br>

                <label for="difficulty">Difficulty:</label><br>
                <input type="text" id="difficulty" name="difficulty" required><br>

                <label for="adminconfirm">Admin Confirm:</label><br>
                <input type="text" id="adminconfirm" name="adminconfirm" required><br><br>

                <input type="submit" value="Add Question">
            </form>
        </div>

        <div id="addSignForm" class="form-container" style="display: none;">
            <form action="/add_s_to_db" method="post">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" required><br>

                <label for="text">Text:</label><br>
                <textarea id="text" name="text" required></textarea><br>

                <label for="image">Image:</label><br>
                <input type="text" id="image" name="image"><br>

                <label for="adminconfirm">Admin Confirm:</label><br>
                <input type="text" id="adminconfirm" name="adminconfirm" required><br><br>

                <input type="submit" value="Add Sign">
            </form>
        </div>

        <script>
            const addQuestionBtn = document.getElementById('addQuestionBtn');
            const addSignBtn = document.getElementById('addSignBtn');
            const addQuestionForm = document.getElementById('addQuestionForm');
            const addSignForm = document.getElementById('addSignForm');

            addQuestionBtn.addEventListener('click', () => {
                addQuestionForm.style.display = 'block';
                addSignForm.style.display = 'none';
            });

            addSignBtn.addEventListener('click', () => {
                addSignForm.style.display = 'block';
                addQuestionForm.style.display = 'none';
            });
        </script>
    </div>

</body>
</html>
