<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" type="application/json" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon-192.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <title>Welcome to SEN!</title>
    <!--the above code not set an icon for this page in particular even though it is the same code for every page-->
</head>
<body>
    <!-- This always appears at the top of every page. -->
    <div class="toolbar">
        <a href="/"><div class="toolbar_button">Home</div></a>
        <div id="toolbar_header">
        <h1>Welcome to SEN!</h1>
        </div>
        <a id="login_button_link" href="/login"><div class="toolbar_button" id="login_button">Log In</div></a>
    </div>
    
    <div class="container" style="background-image: 'static/swampbg.png';">
        {% if error %}
        {{ error }}
        <br><br><br>
        {% endif %}
        <h1> Welcome to the SEN Thunder Mantles!</h1>
        <p>Start your journey on perfecting your knowledge on the Software Engineering Fundamentals today!</p>
        <br><hr><br>
        <h1>About This App</h1>
        <p>
            SEN is a web app that focuses on helping students and teachers better understand the Year 11 Preliminary Software Engineering course through the use of Exam-Style Questions.
            This app is completely free and a project that Light Guard Studios has been working on for a long time, and has been able to draw the attention of students and teachers alike!
            All logged in users can use our free software by logging in or creating an account and connecting to a teacher account if they are a new student on the app.
            To get an idea on how our quiz software works, you can click the button below, which will redirect you to a demo test.
        </p>
        <a href="/preparation"><button>Try a Demo Test Here!</button></a>
        <br><br><hr><br>
        <h1>About Us</h1>
        <p>
            Light Guard Studios is a company owned and managed by Skanda Nagendra, based in Australia,
            which specialises in providing secure and reliable software solutions to clients.
            For any issues or concerns, you may contact support@lightguardstudios.com [not a real email].
        </p>        
    </div>

</body>
</html>
