<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" type="application/json" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon-192.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <title>Welcome to SEN!</title>
    <!--the above code not set an icon for this page in particular even though it is the same code for every page-->
</head>
<body>
    <!-- This always appears at the top of every page. -->
    <div class="toolbar">
        <a href="/"><div class="toolbar_button">Home</div></a>
        <div id="toolbar_header">
        <h1>Website Title!!</h1>
        </div>
        <a id="login_button_link" href="/login"><div class="toolbar_button" id="login_button">Log In</div></a>
        <div style="width: 0%;"></div>


        



    </div>
    
    <div class="container" style="background-image: 'static/swampbg.png';">
        <h1>Welcome I guess</h1>
        <p>There is not much done... I don't know what to do...</p>
        <button onclick="alert('Nothing happened...')">Click for nothing to happen</button>
        <a href="/preparation"><button>Click for nothing to happen</button></a>
    </div>

</body>
</html>
<!---->                document.getElementById('login_button').href = "/login";
            }

        </script>


        



    </div>
    
    <div class="container" style="background-image: 'static/swampbg.png';">
        <h1>Welcome I guess</h1>
        <p>There is not much done... I don't know what to do...</p>
        <button onclick="alert('Nothing happened...')">Click for nothing to happen</button>
        <a href="/preparation"><button>Click for nothing to happen</button></a>
    </div>

</body>
</html>
<!---->
