<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" type="application/json" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon-192.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">


    <title>SEN - Log In</title>

</head>
<body>
    <!-- This always appears at the top of every page. -->
    <div class="toolbar">
        <a href="/"><div class="toolbar_button">Home</div></a>
        <h1>SEN - Log In</h1>
        <a href="/login"><div class="toolbar_button" id="login_button">Log In</div></a>
    </div>
    
    <div class="container">
        <h1>Login</h1>

        {% if error %}
        <div class="errorDialogue">
          {{ error }}
        </div>
        {% endif %}


        {% if loginTimeout and loginTimeout > 0 %}
        <div class="errorDialogue">
            Too many failed login attempts. Please wait {{ loginTimeout }} seconds before trying again.
        </div>

        <script>
            let remainingTime = {{ loginTimeout }};
            const timerElement = document.querySelector('.errorDialogue');
            const interval = setInterval(() => {
                remainingTime--;
                if (remainingTime <= 0) {
                    clearInterval(interval);
                    location.reload();
                } else {
                    timerElement.textContent = `Too many failed login attempts. Please wait ${remainingTime} seconds before trying again.`;
                }
            }, 1000);
            // although there may be a red squiggly line under the {{ loginTimeout }} in the code,
            // it will still work as Flask replaces that with the actual value when rendering the template.
        </script> 
        


        {% else %}

        <form action="/login" method="post">

            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <label for="signup">Don't have an account? <a href="/register" style="color: #0033ff; text-decoration: underline;">Sign Up.</a></label><br><br>
            <input type="submit" value="Login">
        </form>

        {% endif %}


    </div>

</body>
</html>
