<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" type="application/json" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icon-192.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>SEN - Start Course</title>
    
</head>
<body>
    <!-- This always appears at the top of every page. -->
    <div class="toolbar">
        <a href="/loggedinhomepage"><div class="toolbar_button">Home</div></a>
        <h1>Website Title!!</h1>
        <a href="/logout"><div class="toolbar_button" id="login_button">Log Out</div></a>
        <div style="width: 10%;"></div>
    </div>
    

    <div class="container">
        <h1>Do you feel prepared (trademark)?</h1>
        <p>
            {% if subtopic %}
            You are about to start a test on {{ subtopic }}
            {% else %}
            There is not much done... I don't know what to do... Demo Test for you!
            {% endif %}
        </p>
        <form action="/start_test" method="post">
            <input type="hidden" id="subtopic" name="subtopic" value="sd phases">
            <button type="submit">Click to happen</button>
        </form>

    </div>

</body>
</html>
